.blog-card {
margin-bottom: 20px;
max-width: 300px; /* Set maximum width for the card */
max-height: 400px; /* Set maximum height for the card */
overflow: hidden;
}
.blog-card .card-body {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.blog-card .card-text {
display: -webkit-box;
-webkit-line-clamp: 3; /* Number of lines to show */
-webkit-box-orient: vertical;
overflow: hidden;
}

.card-title,
.card-text {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.ql-editor img {
max-width: 100%; /* Ensure linked images fit within the editor */
height: auto; /* Maintain aspect ratio */
}